AWS_ACCESS_KEY_ID=Your AWS access key ID
AWS_SECRET_ACCESS_KEY=Your AWS secret access key
AWS_SESSION_TOKEN=Session token (if using temporary credentials)
AWS_REGION=
WHATSAPP_TOKEN=
WHATSAPP_WEBHOOK_VERIFICATION_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=